<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1ba9f041-062f-4a08-a564-575bc4a5abde/resourceGroups/WebGallery20211101210453ResourceGroup/providers/Microsoft.Web/sites/WebGallery20211101210453</ResourceId>
    <ResourceGroup>WebGallery20211101210453ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/1ba9f041-062f-4a08-a564-575bc4a5abde/resourceGroups/SQLServerdatabaseresource/providers/Microsoft.ApiManagement/service/WebGalleryAPI/apis/sswebgallery</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webgallery20211101210453.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>92d37bc8-2cc0-49cb-a290-a74295b1957c</ProjectGuid>
    <MSDeployServiceURL>webgallery20211101210453.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebGallery20211101210453</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$WebGallery20211101210453</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>