<section class="headers parallax--bg">
	<div class="container">
		<h1 class="title parallax--box">Website Demostration <span>Header 2</span>
		</h1>	
	</div>
</section>

<div class="container">
	<section class="introduction">

		<div class="tbxIntroduction">
			<h1>Introduction</h1>
			<p>A brief text that describes what the businesss does and their vision </p>
		</div>

	</section>
</div>


<section class="portfolio">
	<h1>Gallery</h1>

	<!-- portfolio item 01 -->
	<figure class="port-item">
		<img src="../../assets/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 02 -->
	<figure class="port-item">
		<img src="../../assets/portfolio-02.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 03 -->
	<figure class="port-item">
		<img src="../../assets/portfolio-03.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 04 -->
	<figure class="port-item">
		<img src="../../assets/portfolio-04.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 05 -->
	<figure class="port-item">
		<img src="../../assets/portfolio-05.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 06 -->
	<figure class="port-item">
		<img src="../../assets/portfolio-06.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

</section>