.form-container {
    align-self: center;
    width: fit-content;
    padding: 24px;
    background-color:  #34495e;
    border-radius: 20px;
}

.form-popup {
    align-self: center;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

label {
    color: white;
}
.disabled{
    pointer-events: none;
}

.no-show{
    display: none;
}