<body>
    <section class="headers parallax--bg">
        <div class="container">
            <h1 class="title parallax--box">Sign in
            </h1>
            <h2><span>Gallery hosting solution</span></h2>
        </div>
    </section>

    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <label for="tbxUsername">Username:</label><br>
            <input type="text" id="tbxUsername" name="tbxUsername"><br>
            <label for="tbxPassword">Password:</label><br>
            <input type="password" id="tbxPassword" name="tbxPassword"><br><br>
            <input type="submit" value="Sign in">
        </form> 
    </div>
</body>